.homeContainer {
  display: flex;
  width: 100%;
  position: relative;
}

/* Mobile: Stack vertically */
@media screen and (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    padding: 0;
  }
}

/* Tablet: Show sidebar and feed */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .homeContainer {
    flex-direction: row;
  }
}

/* Desktop: Show all three columns */
@media screen and (min-width: 1025px) {
  .homeContainer {
    flex-direction: row;
  }
}
